[Unit]
Description=My Script Service
After=network.target

[Service]
Type=simple
ExecStart=/home/e21/RoboRetriever/milestone1/raspberrypi/rpi_tcp_stream.sh
Restart=always
RestartSec=5
User=e21

[Install]
WantedBy=multi-user.target