[Unit]
Description=Robot controller service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/RoboRetriever/milestone1/raspberrypi/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
