[Unit]
Description=Robot controller service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/e21/RoboRetriever/milestone1/raspberrypi
ExecStart=/usr/bin/python /home/e21/RoboRetriever/milestone1/raspberrypi/main.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
